body {
  margin: 0;
  padding: 0;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); /* w3c */
}
.courier {
  font-family: 'Courier Next',
               courier,
               monospace;
}
.code {
  font-family: Consolas,
               monaco,
               monospace;
}